<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.postproject.repository.MemberRepository">
    <select id="findMembers" resultType="Member">
        select id as id, nickname as nickname, login_id as loginId, password as password, user_role as userRole, created_at as createdAt, updated_at as updatedAt
        from member
    </select>

    <select id="findMemberByLoginId" resultType="Member">
        select id as id, nickname as nickname, login_id as loginId, password as password, user_role as userRole, created_at as createdAt, updated_at as updatedAt
        from member
        where login_id = #{loginId}
    </select>

    <select id="findMemberByNickname" resultType="Member">
        select id as id, nickname as nickname, login_id as loginId, password as password, user_role as userRole, created_at as createdAt, updated_at as updatedAt
        from member
        where nickname = #{nickname}
    </select>

    <insert id="insertMember" useGeneratedKeys="true" keyProperty="id">
        insert into member(nickname, login_id, password, user_role)
        values (#{nickname}, #{loginId}, #{password}, #{userRole})
    </insert>

    <update id="updateMember">
        update member
        <set>
            <if test="member.nickname != null">
                nickname = #{member.nickname},
            </if>
            <if test="member.password != null">
                password = #{member.password},
            </if>
        </set>
        where login_id = #{loginId}
    </update>

    <delete id="deleteMember">
        delete
        from member
        where login_id = #{loginId}
    </delete>
</mapper>