<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.postproject.repository.MemberRepository">
    <select id="findMembers" resultType="Member">
        select *
        from member
    </select>

    <select id="findMemberByLoginId" resultMap="MemberResultMap">
        select *
        from member
        where login_id = #{loginId}
    </select>

    <select id="findMemberByNickname" resultMap="MemberResultMap">
        select *
        from member
        where nickname = #{nickname}
    </select>

    <insert id="insertMember" useGeneratedKeys="true" keyProperty="id">
        insert into member(nickname, login_id, password, user_role)
        values (#{nickname}, #{loginId}, #{password}, #{userRole})
    </insert>

    <update id="updateMember">
        update member
        <set>
            <if test="member.nickname != null">
                nickname = #{member.nickname},
            </if>
            <if test="member.password != null">
                password = #{member.password},
            </if>
        </set>
        where login_id = #{loginId}
    </update>

    <delete id="deleteMember">
        delete
        from member
        where login_id = #{loginId}
    </delete>

    <resultMap id="MemberResultMap" type="Member">
        <id column="id" property="id"/>
        <result column="nickname" property="nickname"/>
        <result column="login_id" property="loginId"/>
        <result column="password" property="password"/>
        <result column="user_role" property="userRole"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
</mapper>